@mixin fontface($font_path, $font_name, $font_weight:400, $font_style:normal) {
  @font-face {
    font-family: $font_name;
    src: url('@/assets/fonts/#{$font_path}.ttf') format('truetype');;
    font-style: $font_style;
    font-weight: $font_weight;
  }
}