$default-font: 'Source Sans Pro',sans-serif;
$font-size:16px;



$box-shadow:0px 2px 5px rgba(0, 0, 0, 0.1);
$box-shadow__hover: 0px 5px 5px rgba(0, 0, 0, 0.07);
$box-shadow-card: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
$box-shadow-card__hover:0px 30px 30px rgba(0, 0, 0, 0.08), 0px 10px 10px rgba(0, 0, 0, 0.04);
$sizes: ("xs":320px, "sm":640px, "md":768px, "lg":1024px, "xl":1280px, "xxl":1536px);
$xs-screen:320px;
$sm-screen:640px;
$md-screen:768px;
$lg-screen:1024px;
$xl-screen:1280px;
$xxl-screen:1536px;